@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fix global para caret (barra vertical) en inputs y textareas */
input, textarea, [contenteditable="true"] {
  caret-color: #ffffff !important;
}

button:disabled, [aria-disabled="true"] {
  cursor: not-allowed !important;
}
